.navbar {
    background-color: rgb(10, 10, 61);
    height: 60px;
}
.navTitle {
    font-weight: bolder;
    margin-left: 20px;
}
.navLink1 {
    color: white;
    margin-left: 35px;
}
.navLink2 {
    color: white;
    margin-left: 50px;
}