.footer {
    background-color: rgb(10, 10, 61);
    border-top: '1px solid #ddd';
    height: '60px';
    line-height: '60px';    
}
.footer__In {
    margin: 10px;
    text-align: center;
    font-weight: bolder;
}
.footer__git {
    margin: 10px;
    text-align: center;
    font-weight: bolder;
}
.footer__copyright {
    color: white;
    font-weight: bolder;
    margin: 10px;
    text-align: center;
}