.footer {
    background-color: rgb(10, 10, 61);
    border-top: '1px solid #ddd';
    height: '60px';
    line-height: '60px';    
}
.footer__social {
    margin-left: 75px;
    padding: 50px;
    font-weight: bolder;
}
.footer__copyright {
    color: white;
    margin-right: 75px;
    padding: 50px;
}